@model IEnumerable<SushiRunner.ViewModels.OrderModel>
@{
    ViewData["Title"] = "Sushi-Runner Moderator";
    Layout = "_ModeratorLayout";
}

<div class="container-fluid">
    <div class="content">
        <div>
            <h1 class="text-center">Виберіть статус замовлення:</h1>
        </div>
        <div id="actions">
            <form method="get">
                <button asp-controller="Moderator" asp-action="NewOrders" id="new-order">Новий</button>
            </form>
            <form method="get">
                <button asp-action="InProgressOrders" asp-controller="Moderator" id="in-progress">В процесі</button>
            </form>
            <form method="get">
                <button asp-action="CompletedOrders" asp-controller="Moderator" id="delivered">Доставлений</button>
            </form>
        </div>
        <div class="order-heading">
            <div class="order-heading-num">
                <span>#</span>
            </div>
            <div class="order-heading-name">
                <span>Ім'я</span>
            </div>
            <div class="order-heading-phone">
                <span>Телефон</span>
            </div>
            <div class="order-heading-address">
                <span>Адреса</span>
            </div>
            <div class="order-heading-action">
            </div>
        </div>
        @foreach (var order in Model)
        {
            <partial name="_Order" model="@order"></partial>
        }
    </div>
</div>