.account-info-container {
    max-width: 1100px;
    margin: 50px auto;
}

.account-info-columns-container {
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-content: space-between;
}

#hwl-edit::before,
#hwl-edit::after {
    width: 300px;
}

#account-info-nav {
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

#account-info-nav > * {
    margin-bottom: 20px;
}

#account-sign-out-button {
    width: 100%;
}
