.account-info-container {
    max-width: 1100px;
    margin: 50px auto;
}

.account-info-columns-container {
    display: grid;
    grid-template-columns: 180px minmax(200px, 340px) minmax(200px, 340px);
    justify-content: space-between;
}

#hwl-edit::before,
#hwl-edit::after {
    width: 300px;
}

#account-info-nav {
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

#sign-out-button {
    width: 90%;
    height: 40px;
    text-align: center;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #4caf50;
    transition: background-color ease 0.25s;
    cursor: pointer;
    float: right;
    margin: 10px auto;
}

#sign-out-button:hover {
    background-color: #e32d3c;
}
