<div id="menu">
    <div id="toggle">
        <a href="#menu-toggle" class="btn btn-outline-dark menu-toggle">
            Toggle Menu
        </a>
    </div>
    <nav class="navbar_items">
        <div class="navbar_link">
            <a href="#">Main</a>
        </div>
        <div class="navbar_link">
            <a href="#">About us</a>
        </div>
        <div class="navbar_link">
            <a href="#">Delivery</a>
        </div>
        <div class="navbar_link">
            <a href="#">Blog</a>
        </div>
        <div class="navbar_link">
            <div id="phones">
                <span>(093)170-15-70</span>
                <span>(093)170-15-70</span>
            </div>
        </div>
    </nav>
    <div id="account">
        <div id="user">
            <div id="user">
                <a href="#">
                    <strong>
                        <i class="fas fa-user"></i>
                    </strong>
                </a>
            </div>
        </div>
        <div id="basket">
            <a asp-controller="Cart">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                <span id="itemCount">@Model.CartItemsAmount</span>
            </a>
        </div>
        <div id="totalPrice">
            <span>
                <strong>@Model.CartItemsPrice USD</strong>
            </span>
        </div>
    </div>
</div>
