@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}
<div class="about">
    <p>Вас вітає «SushiRunner» – доставка суші та піци у Львові №1.</p>

    <p>Чому ми найкращі?</p>

    <p>Головний пріоритет – висока якість їжі та сервісу. Ми - команда професіоналів, яка щодня працює для Вас.</p>

    <p> Хто визнав нас найкращими?</p>

    <p>Ви, наші клієнти. І це додає нам наснаги розвиватись та вдосконалюватись і надалі.</p>

    <p>«SushiRunner» - «онлайн-ресторан»</p>

    <p> Це означає, що ми не пропонуємо фаст-фуд. Наші страви – ресторанної якості, якими Ви можете насолоджуватись вдома та на роботі!</p>

    <p> У нас функціонують 5 кухонь у Львові – в якій би частині міста ви не знаходились, ми оперативно приготуємо та привеземо замовлення до 29 хвилин!</p>

    <p> Ми використовуємо тільки якісні свіжі продукти та зручне упакування для страв.</p>

    <p> Замовлення приймаються цілодобово без вихідних 24/7!</p>
</div>