@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}
<div class="about">
    <span> Оплатити замовлення Ви можете:</span>
    <ul>
        <li>готівкою;</li>
    </ul>

    <p> Доставка виконується безкоштовно при замовленні на мінімально вказану суму.</p>

    <p> Сума мінімального замовлення в межах міста – 200 грн.</p>

    <p> Сума мінімального замовлення за межі міста – 500 грн.</p>

    <p> Замовлення приймаються Цілодобово 24/7</p>
</div>