@model SushiRunner.ViewModels.HomeModel

@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home/index.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

	<div class="row">
		<div class="col-9" id="menu">
			<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top" id="navbar">
				<div class="dropleft">
					<ul>
						<li class="sidebar-nav">
							<a href="#menu-toggle" class="btn btn-outline-dark menu-toggle">
								Toggle
								Menu
							</a>
						</li>
					</ul>
				</div>
				<div class="navbar-collapse collapse justify-content-center " id="collapsingNavbar">

					<ul class="navbar-nav text-center">
						<li class="nav-item active">
							<a class="nav-link" href="#">Main</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Delivery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
						<li>
							<strong>
								<ul>(093)170-15-70</ul>

								<ul>(093)170-15-70</ul>
							</strong>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="user" class="col-1">
			
			<a class="align-self-end text-dark " href="#"><strong>User</strong></a>
		</div>
		<div id="basket" class="col-1">
			<a class="align-self-center text-white" href="#"><strong>Cart</strong></a>
		</div>
		<div id="CartTotal" class="col-1">
			<p class="text-white  align-middle"><strong>$0</strong></p>
		</div>
	</div>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                @foreach (var meal in Model.Meals)
                {
                    <div class="col-sm-3 text-center">
                        <div class="card" style="width:80%;">
                            <div class="card-body" style="padding:0">
                                <img class="card-img-top" src="@meal.ImagePath">
                                <h5 class="card-title border-top">@meal.Name</h5>
								
                            <p class="card-text" style="padding:2%">@meal.Description</p>
                                <h5 class="weight-1"><span>100 гр.</span></h5>
							<div class="card-footer">
								<div class="row">
									<div class="col-6">
										<p id="price"><strong>100 грн.</strong></p>
									</div>
									
									<a href="#" class="col-6 btn btn-outline-dark align-content-center" id="addToCart"><strong>+</strong> Add to cart</a>
								</div>
								
							</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="/js/home/index.js"></script>
</body>
</html>
