@model SushiRunner.ViewModels.Home.HomeModel

@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("/css/home/header-with-lines.css")">
}

<div id="wrapper">
    @if (@Model.Title == null)
    {
        <p id="hwl-edit" class="hwl">
            <span>Всі продукти</span>
        </p>
    }
    else
    {
        <p id="hwl-edit" class="hwl">
            <span>@Model.Title</span>
        </p>
    }
    <form asp-action="ShowAll">
        <input type="hidden" name="redirectPath"/>
        <button type="submit">
            <a>
                Show all
            </a>
        </button>
    </form>
    <form asp-action="HideAll">
            <input type="hidden" name="redirectPath"/>
            <button type="submit">
                <a>
                    Hide all
                </a>
            </button>
        </form>
    <div class="container-fluid">
        @foreach (var meal in Model.Meals)
        {
            if (meal.IsShown)
            {
                <partial name="_Meal" model="@meal"></partial>
            }
        }
    </div>
</div>
