@model SushiRunner.ViewModels.MealModel

@* @{ *@
@*     Layout = "_HomeLayout"; *@
@* } *@




<div>
    <p>Hey ho!</p>
    <div class="item-img">
        @ViewBag.Res
        @*<img src="@Model.ImagePath" alt="@Model.Name">*@
    </div>
    <div class="item-title">
        @*<h4>@Model.Description</h4>*@
    </div>
</div>
