.sr-button {
    display: block;
    min-height: 25px;
    text-align: center;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #4caf50;
    transition: background-color ease 0.15s;
    cursor: pointer;
    text-decoration: none;
}

.sr-button:hover {
    background-color: #e32d3c;
    color: white;
    text-decoration: none;
}
