@model IEnumerable<SushiRunner.ViewModels.MealGroupModel>

@{
    ViewBag.Title = "Meal Groups";
}


<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>