* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: calc(0.75em + 1vmin);
}

#menu {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(89, 89, 89, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(89, 89, 89, 1);
    box-shadow: 0px 1px 5px 0px rgba(89, 89, 89, 1);
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    font-size: 18px;
}

#wrapper {
    margin-top: 25px;
}

#toggle {
    margin-right: auto;
    padding-left: 20px;
}

.navbar_items .navbar_link {
    padding-left: 30px;
}

#account {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    margin-left: auto;
}

#user {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #9E9E9E;
}

#user i {
    font-size: 35px;
}

#basket {
    background-color: #212121;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#basket i {
    font-size: 30px;
}


#totalPrice {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F44336;
    font-size: 15px;
}

.navbar_items {
    display: flex;
    align-items: center;
}

#menu .navbar_items a {
    text-decoration: none;
    color: #454d55;
}

#menu .navbar_items a:hover {
    color: #F44336;
}

#account a {
    text-decoration: none;
    color: #F1F8E9;
}

#account a:hover {
    color: #F44336;
}

#totalPrice span {
    color: #F1F8E9;
}

#phones {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.col-sm-3 {
    padding-top: 10px;
}

.price {
    color: red;
    margin: 0;
}

.item-weight {
    position: relative;
    text-align: center;
    margin-top: auto;
}

.item-weight:before {
    content: "";
    display: block;
    border-top: solid 2px #dee2e6;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.item-weight span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    color: #71706c;
    font-style: italic;
    font-size: 14px;
}

.item-card {
    display: flex;
    padding: 0;
    flex-direction: column;
    -webkit-box-shadow: 0 0 25px 3px rgba(186, 177, 186, 0.4);
    -moz-box-shadow: 0 0 25px 3px rgba(186, 177, 186, 0.4);
    box-shadow: 0 0 25px 3px rgba(186, 177, 186, 0.4);
    margin: 15px;
    justify-content: flex-end;
    border: 1px lightgray solid;
}

.item-img {
    height: 185px;
}

.item-img img {
    width: 90%;
    height: 185px;
    object-fit: contain;
    margin-left: 5%;
}

.item-title {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dee2e6;
}

.item-title * {
    padding-top: 7px;
    font-size: 18px;
}

.item-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    padding: 4% 0 4% 0;
    color: #6c6c6c;
}

.item-description span {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 13px;
}

.fa-plus-circle {
    color: #27ae60;
    font-size: 36px;
}

.fa-check-circle {
    color: #e74c3c;
    font-size: 36px;
}

.fa-user {
    font-size: 51px;
}

.fa-shopping-cart {
    font-size: 51px;
    color: #dedede;
}

.item-price {
    color: #e74c3c;
    font-size: 20px;
    margin-left: 30px;
}

.add-to-cart-icon {
    line-height: 0;
}

.add-to-cart-button {
    border: 0;
    padding: 0;
    background: 0;
    margin-right: 10px;
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    justify-content: space-between;
    max-width: 1200px;
}

#itemCount {
    position: absolute;
    right: 6px;
    top: 25px;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    line-height: 21px;
}

#basket a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
