#navbar {
    height: 80px;
}

#menu {
    padding-right: 0;
}

#user {
    background-color: silver;
    height: 80px;
    width: 5%;
    text-align: center;
}

#basket {
    background-color: black;
    height: 80px;
    width: 5%;
    text-align: center;
    vertical-align: text-bottom;
}

#CartTotal {
    background-color: red;
    height: 80px;
    width: 5%;
    text-align: center;
}

#price {
    color: red;
    font-size: x-large;
    margin: 0;
}

.weight-1 {
    position: relative;
    text-align: center
}

.weight-1:before {
    content: "";
    display: block;
    border-top: solid 2px #dee2e6;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.weight-1 span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    color: #71706c;
}
