* {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
}

.order-heading {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-gap: 1em;
    background-color: #333333;
    color: #b1b1b1;
    font-weight: 500;
    font-size: 18px;
}
.order-heading-num {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.order-heading-name {
    display: flex;
    align-items: center;
}

.order-heading-type {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.order-heading-phone {
    display: flex;
    align-items: center;
}

.order-heading-address {
    display: flex;
    align-items: center;
}

.order-heading-action {
    display: flex;
    align-items: center;
}

.order-heading-content {
    display: flex;
    align-items: center;
}

.order-type {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.order-phone {
    display: flex;
    align-items: center;
}

.order-address {
    display: flex;
    align-items: center;
}

.order-action {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: "Ok Remove"
}

.order-content {
    display: flex;
    align-items: center;
}

.order-item {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-gap: 15px;
}

#in-progress, #new-order, #delivered {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
    color: #b1b1b1;
    text-decoration: none;
}

#in-progress:hover, #new-order:hover, #delivered:hover {
    background-color: #e32d3c;

}

#actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok-button {
    display: none;
    grid-area: Ok;
    align-items: center;
    justify-content: center;
}

.remove-button {
    grid-area: Remove;
}

.order-item:hover {
    background-color: #bdc3c7;
    cursor: pointer;
}