
* {
    box-sizing: border-box;
}


.container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.table-row {
    border-bottom: 1px solid #dedede;
    display: flex;
    height: 100px;
    align-items: center;

}

.table-head {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    display: flex;


}

.table-head span {
    color: #454d55;
}

.price {
    width: 21%;
}

.table-row .price span {
    font-weight: bold;
}

.quantity {
    width: 19%;
}

.sum {
    width: 20%;
}

.description {
    justify-self: flex-start;
    width: 35%;
}

.table-row .description .image-block {
    width: 65px;
    height: 65px;
    display: flex;
    float: left;
    border: 1px solid #dedede;

}

.table-row .description img {
    max-width: 100%;
    max-height: 100%;
}

.table-row .description img:hover {
    box-shadow: 0 0 2px 1px #dc3545;
}

.table-row .description .product-description a {
    text-decoration: none;
    color: #454d55;
}

.table-row .description .product-description a:hover {
    color: #dc3545;
}


.product-description {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.table-rows .table-row:last-child
{
    border: none;
}


.pre-order {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.total-sum {
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;
}

.pre-order button {
    width: 20%;
}

input{
    width: 50px;

}
input[type=number] {
    line-height: 27px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.content{
    margin-top: 50px;
}
.content h1{
    font-size: 32px;
    font-weight: 800;
}
.table-head span{
    font-size: 24px;
    font-weight: 800;
}