@model SushiRunner.ViewModels.SignUpModel

@{
    Layout = "_AccountLayout";
}

<<div class="login-form">
    <form asp-action="SignUp" asp-controller="Account" method="post">
        <h2 class="text-center">Sign up</h2>
        <div class="form-group">
            <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="Email" asp-for="Email" required="required">
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <div class="input-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" asp-for="Password" required="required">
                </div>
            </div>
            <div class="col form-group">
                <div class="input-group">
                    <input type="password" class="form-control" name="ConfirmPassword" asp-for="ConfirmPassword" placeholder="Confirm Password"
                           required="required">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark login-btn btn-block">
                Sign up
            </button>
        </div>
    </form>
</div>
